:root {
  font-family: Inter, system-ui, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  /* Ensures that the body takes the full height of the viewport */
  min-height: 100vh;
  /* Optional: Adjust the display to flex to manage inner sections layout */
  display: flex;
  flex-direction: column;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 20%; /* Make the logo images circular */
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffdede92);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

@font-face {
  font-family: "Ethos Nova";
  src: url('../fonts/EthosNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#playlist_track_names {
  border-collapse: collapse;
  width: 100%;
  font-family: "Ethos Nova";
  margin-top: 20px; /* Add some space above the table */
}

#playlist_track_names th, #playlist_track_names td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  background-color: rgb(61, 61, 61); /* Light gray background for header */
}


section, .grids-flex-container, .grid-container {
  display: flex;
  flex-direction: row; /* Align children side by side */
  gap: 20px; /* Adjust the gap as needed */
}

/* Adjusting the flex-container to ensure it fills the available space */
.grids-flex-container {
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
  margin-top: 20px; /* Space below the playlist header */
}

/* Flex properties to adjust how children of the flex container grow */
#playlistsGridContainer {
  flex-grow: 0.4; /* Adjust based on your preference */
}

.grid-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* Stack the playlist grids vertically */
}

.playlist-grid {
  flex: 1; /* Allows each playlist grid to fill the container equally */
  height: 400px; /* Example height, adjust as necessary */
}

#navigation button {
  margin: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

/* Ensure the playlist grids and their container take full width */
#playlist, .grids-flex-container, .grid-container {
  width: 100%;
}

#playerSection, #playlistSection {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#playerControls button {
  max-width: 600px; /* Example max-width, adjust as necessary */
  margin: 0 auto; /* Center the controls */
}

#contentTable {
  width: 100%;
  border-collapse: collapse;
}

#contentTable th {
  text-align: left;
  background-color: #333;
  color: white;
  padding: 20px;
}

#contentTable td {
  padding: 20px;
  background-color: #242424;
}

#contentTable .grids-flex-container {
  display: flex;
  gap: 20px; /* Space between the playlist grids */
}

#contentTable .playlist-grid {
  flex-basis: 50%;
  height: 400px; /* Adjust height as necessary */
}
